<h1 class="text-center text-white">POST YOUR QUOTE.</h1>
<form (ngSubmit)='submitQuote()' #createForm = 'ngForm'>
    <div class="form-group">
      <label class="text-white" for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)] = "newQuote.name" name="name"  placeholder="Enter Your Name" required>
      <small class="form-text text-muted text-white">We would like to know who posted this quote</small>
    </div>
    <div class="form-group">
      <label class="text-white" for="date">Date</label>
      <input type="date" class="form-control" id="date" [ngModel]="newQuote.date" name="date" placeholder="Date" required>
    </div>
    <div class="form-group">
        <label class="text-white" for="author">Author</label>
        <input type="text" class="form-control" id="author" [(ngModel)] = "newQuote.author" name="author" placeholder="Author" required>
      </div>
      <div class="form-group">
        <label class="text-white" for="words">Quote</label>
        <textarea class="form-control" id="words" [(ngModel)]="newQuote.words" name="words" rows="7" required></textarea>
      </div>

    <button type="submit" class="btn btn-primary text-white rounded-pill">Post Quote</button>
  </form>